.mainboard
{
    display: flex;
}
.p
{
    margin: auto;
}
.ranking
{
    margin: auto;
}

.chair
{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    width     : 400px;
    margin: auto;
}
.chair img
{
    margin: auto;
    display: block;
    position  : relative;
    width     : 100px;
    height    : 100px;
    pointer-events: visibleStroke;
}