.mainboard
{
    display: flex;
    background-color: forestgreen;
    border: solid 10px aquamarine;
    margin: 0% 10% 10% 10%;
}
.p
{
    margin: auto;
}

/* ranking style */
.ranking
{
    margin: auto;
}
.ranking p{
    font-weight: bold;
    border-bottom: solid 2px whitesmoke;
}

.ranking p:nth-child(2){
    color: gold;
}
.ranking p:nth-child(3){
    color: silver;
}
.ranking p:nth-child(4){
    color: brown;
}

/* chair setting */
.chair
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width     : 400px;
    margin: auto;
}
.chair img
{
    margin: auto;
    display: block;
    position  : relative;
    width     : 100px;
    height    : 100px;
    pointer-events: visibleStroke;
}

/* button style */
.srt a{
    border-radius: 100px;
}