.chair
{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    width     : 400px;
    margin: auto;
}
.chair img
{
    margin: auto;
    display: block;
    position  : relative;
    width     : 100px;
    height    : 100px;
}
.mainscreen
{
    background-color: aqua;
}
.gamescreen
{
    background-color: aqua;
}
.ranking
{
    margin-top: 10%;
}