/* Button Animetion*/
.btn {
    display: flex;
    justify-content: center;
}

.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

.btn a:hover {
    color: #f2f2f2;
}

.srt a {
    width: 300px;
    height: 60px;
    background-color: #ff0000;
    border: 3px solid #ff0000;
}

.srt a:hover {
    background-color: #555555;
    border: 3px solid #333;
}

.srt a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -35%;
    transform: translateY(-50%);
    width: 70px;
    height: 1px;
}
/* Back btton */
.bck a {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #333
}

.bck a:hover {
    background-color: #333;
    border: 1px solid #333;
}

.bck a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -35%;
    transform: translateY(-50%);
    width: 70px;
    height: 1px;
}

